* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #c2aff0;
  text-align: center;
}

.container {
  height: 70vh;
  /* // view port heigth 70% */
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  font-size: 8vmin;
  color: #2d5d7b;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #686868;
  color: whitesmoke;
  border-radius: 1rem;
  border: none;
}
